<div class="row rowtitle" style="margin-bottom: 10px;">
    <div class="col-md-8">
        <h2>Clientes</h2>
    </div>
    <div class="col-md-4" align="end"><button class="btn btnOrange" (click)="addCliente()"
            style="background: #5e6163 !important; color: white">+ Nuevo cliente</button> <br> <br>

        <!-- <button (click)="generarContrato()">Contrato</button>
     <button (click)="verCampospdf()">Campos de contrato</button> -->
    </div>
     

</div>
<app-tabla [columns]="tableColumns" [data]="tableData" [actions]="tableActions" [scroll]="true" (actionClick)="onTableAction($event)">
</app-tabla>

 