<h1 mat-dialog-title style="border-bottom: 2px solid #eee;" class="dialog-title">Estado de cuenta <span
        class="close-btn " mat-dialog-close><img width="30px" src="../../../assets/x.png" alt=""></span> </h1>
<div mat-dialog-content>
    <form action="" [formGroup]="contratoForm">

        <div class="row">

            <label *ngIf="data.accion == 'nuevo'">
                <input type="checkbox" class="form-check-input" formControlName="clienteNuevo" />
                Cliente nuevo
            </label>

            <div *ngIf="contratoForm.get('clienteNuevo')?.value" class="col-md-6 inputForm">
                <label for="fecha">Cliente</label>
                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre" />
            </div>

            <div class="col-md-6 inputForm" *ngIf="!contratoForm.get('clienteNuevo')?.value">
                <label for="fecha">Cliente</label>
                <select class="form-select" aria-label="Default select example" id="id_cliente"
                    formControlName="id_cliente" placeholder="id_cliente" (change)="onClienteSeleccionado()">
                    <option *ngFor="let item of clienesItems" [value]="item.id_cliente">{{item.nombre}}</option>
                </select>
            </div>

            <div class="col-md-4 inputForm">
                <label for="domicilio">Domicilio</label>
                <input type="text" class="form-control" id="domicilio" formControlName="domicilio">
            </div>

            <div class="col-md-4 inputForm">
                <label for="correo">correo</label>
                <input type="text" class="form-control" id="correo" formControlName="correo">
            </div>

            <div class="col-md-4 inputForm">
                <label for="stock">telefono</label>
                <input type="telefono" class="form-control" id="telefono" formControlName="telefono">
            </div>

            <div class="col-md-4 inputForm">
                <label for="stock">Tipo de pago</label>
                <select name="" id="" class="form-select" formControlName="tipo_pago">
                    <option value="1" selected>Efectivo</option>
                    <option value="2">Tarjeta debito</option>
                    <option value="3">Tarjeta credito</option>
                </select>
            </div>
            <!-- datos de instalacion -->
            <!-- <div class="col-md-4 inputForm" >
        <label for="stock">INST. ELECTRICA</label>
        <select name="" id="inst_electrica" class="form-select" formControlName="inst_electrica">
          <option value="BAJA TENSIÓN">BAJA TENSIÓN</option>
          <option value="MEDIA TENSIÓN">MEDIA TENSIÓN</option>
          <option value="ALTA TENSIÓN">ALTA TENSIÓN</option>
        </select>
      </div>
      <div class="col-md-4 inputForm" >
        <label for="stock">DEMANDA KW/BIM</label>
        <input type="demanda_kw" class="form-control" id="demanda_kw" formControlName="demanda_kw" >
      </div>
      <div class="col-md-4 inputForm" >
        <label for="stock">TENSIÓN DESFASADA</label>
        <select name="" id="tension" class="form-select" formControlName="tension">
          <option value="BIFASICA">BIFASICA</option>
          <option value="TRIFASICA">TRIFASICA</option>
          <option value="MONOFASICA">MONOFASICA</option>
        </select>
      </div>
      <div class="col-md-4 inputForm" >
        <label for="stock">SISTEMA FOTOVOLTAICO</label>
        <select name="" id="s_fotovoltaico" class="form-select" formControlName="s_fotovoltaico">
          <option value="INTERCONECTADO">INTERCONECTADO</option>
          <option value="HIBRIDO">HIBRIDO</option>
          <option value="AISLADO">AISLADO</option>
        </select>
      </div>
      <div class="col-md-4 inputForm" >
        <label for="stock">MAT. MONAJE</label>
        <select name="" id="mat_montaje" class="form-select" formControlName="mat_montaje">
          <option value="ALUMINIO">ALUMINIO</option>
          <option value="PTR">PTR</option>
          <option value="MIXTO">MIXTO</option>
        </select>
      </div>
      <div class="col-md-4 inputForm" >
        <label for="stock">MODULO FV</label>
        <input type="modulo_fv" class="form-control" id="modulo_fv" formControlName="modulo_fv" >
      </div>
      <div class="col-md-4 inputForm" >
        <label for="stock">N. DE MOD</label>
        <input type="n_mod" class="form-control" id="n_mod" formControlName="n_mod" >
      </div>
      <div class="col-md-4 inputForm" >
        <label for="stock">INVERSOR</label>
        <input type="inversor" class="form-control" id="inversor" formControlName="inversor" >
      </div> -->

            <div class="col-md-4 inputForm">
                <label for="stock">total_venta</label>
                <input type="total_venta" class="form-control" id="total_venta" formControlName="total_venta">
            </div>


        </div>

        <div class="mt-5">

            <!-- <input  class="form-control" type="text" placeholder="Producto" [(ngModel)]="nombre_producto_search"  formControlName="busqueda" (ngModelChange)="verificarTexto()"> -->

            <!-- Lista filtrada -->
            <!-- <ul class="list-group position-absolute w-100" *ngIf="productosItems.length > 0 && nombre_producto_search.length > 0">
    <li class="list-group-item list-group-item-action listProds" style="width: 70%;"
        *ngFor="let p of productosItems"
        (click)="agregarProducto(p)">
      {{ p.nombre }} - ${{ p.precio }}
    </li>
  </ul> -->

        </div>

        <div class="table-responsive  table-scroll mt-3 ">
            <!-- TABLA DE PRODUCTOS -->
            <table class="table table-bordered mt-3" formArrayName="productos_cotizacion"
                *ngIf="productosArray.controls.length > 0">
                <thead class="table-dark">
                    <tr>
                        <th>Producto</th>
                        <th width="50">Cantidad</th>
                        <th width="150">Precio Unit.</th>
                        <th width="150">Precio venta.</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of productosArray.controls; let i = index" style="vertical-align: middle;"
                        [formGroupName]="i">

                        <td>{{ item.get('nombre')?.value }}</td>

                        <td>

                            {{ item.get('cantidad')?.value }}
                            <!-- <input type="number" class="form-control" formControlName="cantidad"
                                (input)="calcularTotal(i)"> -->
                        </td>
                        <td>{{ item.get('precio')?.value }}</td>
                        <td>
                            {{ item.get('precio_venta')?.value }}
                            <!-- <input type="number" class="form-control" formControlName="precio_venta"
                                (input)="calcularTotal(i)"> -->
                        </td>

                        <td>{{ item.get('total_venta')?.value }}</td>

                        <!-- <td><button class="btn btn-sm btn-danger" (click)="eliminarProducto(i)">X</button></td> -->

                    </tr>

                    <tr>
                        <th colspan="4" align="right" style="text-align: end;">Total Venta</th>
                        <td colspan="1">{{totalGeneral}}</td>
                    </tr>
                </tbody>

            </table>


            <!-- <div class="col-md-1">
            <label for="nombre">Cantidad</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre" >
        </div>
        <div class="col-md-5">
            <label for="nombre">Producto</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre" >
        </div>
        <div class="col-md-1">
             <label for="nombre">Precio</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre" readonly>
        </div>
        <div class="col-md-1">
            <label for="nombre">Precio venta</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre" >
        </div>
        <div class="col-md-1">
            <label for="nombre">Total</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre" >
        </div> 

        <div class="col-md-1">
            <button class="btn btn-danger mt-3">X</button>
        </div>  -->
        </div>


        <div class="table-responsive  table-scroll mt-3 ">
            <!-- TABLA DE PRODUCTOS -->
            <h2>Historial de pagos</h2> <button class="btn btn-info">Agregar abono</button>
            <table class="table table-bordered mt-3" formArrayName="productos_cotizacion"
                *ngIf="productosArray.controls.length > 0">
                <thead class="table-info">
                    <tr>
                        <th>Fecha abono</th>
                        <th width="200">Forma de pago</th>
                        <th width="150">monto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="vertical-align: middle;">
                        <td>17/12/2025</td>

                        <td>
                            Efectivo
                        </td>
                        <td>
                            800
                        </td>




                    </tr>

                    <tr style="vertical-align: middle;">
                        <td>25/12/2025</td>

                        <td>
                            Efectivo
                        </td>
                        <td>
                            800
                        </td>




                    </tr>

                    <tr>
                        <th colspan="2" align="right" style="text-align: end;">Total Venta</th>
                        <td colspan="2">1600</td>
                    </tr>
                </tbody>

            </table>

        </div>

    </form>
</div>
<div mat-dialog-actions align="end" style="margin-top: 10px;">
    <!-- <button mat-button mat-dialog-close class="btn btnCancel ">Close</button> -->
    <button class="btn btnPrimary ml-5" type="button" *ngIf="data.accion=='nuevo'" (click)="onSubmit()">Guardar
        cotizacion</button>
    <button class="btn btnPrimary ml-5" type="button" *ngIf="data.accion=='editar'"
        (click)="actualizarContrato()">Actulizar cotizacion</button>
</div>