<h1 mat-dialog-title style="border-bottom: 2px solid #eee;"  class="dialog-title">{{title}} CONTRATO 
  <span class="close-btn" mat-dialog-close>
    <img width="30px" src="../../../assets/x.png" alt="">
  </span> 
</h1>

<div mat-dialog-content>
  <form action="" [formGroup]="contratoForm">

    <div class="row">
      <div class="col-md-4 inputForm">
        <label for="n_solicitud">N_SOLICITUD</label>
        <input type="text" class="form-control" id="n_solicitud" formControlName="n_solicitud">
      </div>

      <div class="col-md-4 inputForm">
        <label for="fecha">FECHA</label>
        <input type="date" class="form-control" id="fecha" formControlName="fecha" required>
        <small class="text-danger"
         *ngIf="contratoForm.get('fecha')?.invalid &&
                contratoForm.get('fecha')?.touched">
    La fecha es obligatoria.
  </small>
      </div>
    </div>

    <div class="row" style="border: 1px solid #eee; border-radius: 10px; padding: 10px; margin-top: 20px;">
      <label *ngIf="data.accion == 'nuevo'">
        <input type="checkbox" class="form-check-input" formControlName="clienteNuevo">
        CLIENTE NUEVO
      </label>

      <div *ngIf="contratoForm.get('clienteNuevo')?.value" class="col-md-6 inputForm">
        <label for="fecha">CLIENTE</label>
        <input type="text" class="form-control" formControlName="nombre" placeholder="">
      </div>

      <div class="col-md-6 inputForm" *ngIf="!contratoForm.get('clienteNuevo')?.value">
        <label for="fecha">CLIENTE</label>
        <select class="form-select" aria-label="Default select example" id="cliente_id" formControlName="cliente_id" placeholder="cliente_id" (change)="onClienteSeleccionado()">
          <option *ngFor="let item of clienesItems" [value]="item.id_cliente">{{item.nombre}}</option>
        </select>
      </div>

      <input type="hidden" class="form-control" id="id_contrato" formControlName="id_contrato" placeholder="id_contrato">

      <div class="col-md-6 inputForm">
        <label for="cargo">CARGO</label>
        <input type="text" class="form-control" id="cargo" formControlName="cargo" placeholder="">
      </div>

      <div class="col-md-6 inputForm">
        <label for="ine">INE</label>
        <input type="text" class="form-control" id="ine" formControlName="ine" placeholder="" required>
        <small class="text-danger"
         *ngIf="contratoForm.get('ine')?.invalid &&
                contratoForm.get('ine')?.touched">
    El ine es obligatorio.
  </small>
      </div>

      <div class="col-md-6 inputForm">
        <label for="telefono">TELEFONO</label>
        <input type="text" class="form-control" id="telefono" formControlName="telefono" placeholder="" required>
        <small class="text-danger"
         *ngIf="contratoForm.get('telefono')?.invalid &&
                contratoForm.get('telefono')?.touched">
    El telefono es obligatorio.
  </small>
      </div>

      <div class="col-md-6 inputForm">
        <label for="correo">CORREO</label>
        <input type="text" class="form-control" id="correo" formControlName="correo" placeholder="" required>
        <small class="text-danger"
         *ngIf="contratoForm.get('correo')?.invalid &&
                contratoForm.get('correo')?.touched">
    El correo es obligatorio.
  </small>
      </div>

      

      <div class="col-md-12 inputForm mt-3">
        <label for="calle">CALLE</label>
        <input type="text" class="form-control" id="calle" formControlName="calle" placeholder="" required>
        <small class="text-danger"
         *ngIf="contratoForm.get('calle')?.invalid &&
                contratoForm.get('calle')?.touched">
    La calle es obligatoria.
  </small>
      </div>

            <div class="col-md-6 inputForm">
        <label for="ciudad">COLONIA</label>
        <input type="text" class="form-control" id="colonia" formControlName="colonia" placeholder="" required>
         <small class="text-danger"
         *ngIf="contratoForm.get('colonia')?.invalid &&
                contratoForm.get('colonia')?.touched">
    La colonia es obligatoria.
  </small>
      </div>


      <div class="col-md-6 inputForm">
        <label for="ciudad">CODIGO POSTAL</label>
        <input type="text" class="form-control" id="cp" formControlName="cp" placeholder="" required>
        <small class="text-danger"
         *ngIf="contratoForm.get('cp')?.invalid &&
                contratoForm.get('cp')?.touched">
    La codigo postal es obligatorio.
  </small>
      </div>

      
      <div class="col-md-6 inputForm">
        <label for="n_exterior">N_EXTERIOR</label>
        <input type="text" class="form-control" id="n_exterior" formControlName="n_exterior" placeholder="" required>
        <small class="text-danger"
         *ngIf="contratoForm.get('n_exterior')?.invalid &&
                contratoForm.get('n_exterior')?.touched">
    La numero es obligatorio.
  </small>
      </div>

      <div class="col-md-6 inputForm">
        <label for="n_interior">N_INTERIOR</label>
        <input type="text" class="form-control" id="n_interior" formControlName="n_interior" placeholder="">
         </div>

      <div class="col-md-6 inputForm">
        <label for="ciudad">CIUDAD</label>
        <input type="text" class="form-control" id="ciudad" formControlName="ciudad" placeholder="" required>
        <small class="text-danger"
         *ngIf="contratoForm.get('ciudad')?.invalid &&
                contratoForm.get('ciudad')?.touched">
    La ciudad es obligatoria.
  </small>
      </div>

          <div class="col-md-6 inputForm">
        <label for="ciudad">ESTADO</label>
        <input type="text" class="form-control" id="estado" formControlName="estado" placeholder="" required>
        <small class="text-danger"
         *ngIf="contratoForm.get('estado')?.invalid &&
                contratoForm.get('estado')?.touched">
    La estado es obligatorio.
  </small>
      </div>

       <div class="col-md-6 inputForm">
        <label for="ciudad">MUNICIPIO</label>
        <input type="text" class="form-control" id="municipio" formControlName="municipio" placeholder="" required>
        <small class="text-danger"
         *ngIf="contratoForm.get('municipio')?.invalid &&
                contratoForm.get('municipio')?.touched">
    La municipio es obligatorio.
  </small>
      </div>


     

      <div class="col-md-6 inputForm">
        <label for="x">LONGITUD</label>
        <input type="text" class="form-control" id="x" formControlName="x" placeholder="">
      </div>

      <div class="col-md-6 inputForm">
        <label for="y">LATITUD</label>
        <input type="text" class="form-control" id="y" formControlName="y" placeholder="">
      </div>
    </div>

    <div class="row" style="border: 1px solid #eee; border-radius: 10px; padding: 10px; margin-top: 20px;" *ngIf="data != null && !data.tiene_oc">
      <div>DATOS DE CONEXION <br><br></div>

      <div class="col-md-4 inputForm">
        <label for="rpu">RPU</label>
        <input type="text" class="form-control" id="rpu" formControlName="rpu" placeholder="">
      </div>

      <div class="col-md-4 inputForm">
        <label for="rmu">RMU</label>
        <input type="text" class="form-control" id="rmu" formControlName="rmu" placeholder="">
      </div>

      <div class="col-md-4 inputForm">
        <label for="n_cuenta">N° CUENTA</label>
        <input type="text" class="form-control" id="n_cuenta" formControlName="n_cuenta" placeholder="">
      </div>

      <div class="col-md-12 inputForm">
        <label for="capacidad">TENSION</label>
        <input type="text" class="form-control" id="tension" formControlName="tension" placeholder="">
      </div>

      <div class="col-md-6 inputForm">
        <label for="capacidad">CAPACIDAD</label>
        <input type="text" class="form-control" id="capacidad" formControlName="capacidad" placeholder="" required>
        <small class="text-danger"
         *ngIf="contratoForm.get('capacidad')?.invalid &&
                contratoForm.get('capacidad')?.touched">
    La capacidad es obligatoria.
  </small>
      </div>

      <div class="col-md-6 inputForm">
        <label for="capacidad_incrementar">CAPACIDAD_INCREMENTAR</label>
        <input type="text" class="form-control" id="capacidad_incrementar" formControlName="capacidad_incrementar" placeholder="">
      </div>

      <!-- <div class="col-md-6 inputForm">
        <label for="tension_interconexion">TENSION_INTERCONEXION</label>
        <input type="text" class="form-control" id="tension_interconexion" formControlName="tension_interconexion" placeholder="">
      </div> -->

      <div class="col-md-6 inputForm">
        <label for="tecnologia">TECNOLOGIA</label>
        <input type="text" class="form-control" id="tecnologia" formControlName="tecnologia" placeholder="">
      </div>

      <div class="col-md-6 inputForm">
        <label for="tecnologia_secundaria">TECNOLOGIA_SECUNDARIA</label>
        <input type="text" class="form-control" id="tecnologia_secundaria" formControlName="tecnologia_secundaria" placeholder="">
      </div>

      <div class="col-md-6 inputForm">
        <label for="regimen_contraprestacion">REGIMEN_CONTRAPRESTACION</label>
        <input type="text" class="form-control" id="regimen_contraprestacion" formControlName="regimen_contraprestacion" placeholder="">
      </div>

      <div class="col-md-6 inputForm">
        <label for="tarifa">TARIFA</label>
        <input type="text" class="form-control" id="tarifa" formControlName="tarifa" placeholder="">
      </div>

      <div class="col-md-6 inputForm">
        <label for="voltaje">VOLTAJE</label>
        <!-- <input type="text" class="form-control" id="voltaje" formControlName="voltaje" placeholder=""> -->
        <select name="" id="voltaje" class="form-select" formControlName="voltaje">
          <option value="110">110</option>
          <option value="220">220</option>
          <option value="440">440</option>
        </select>
      </div>

      <div class="col-md-6 inputForm">
        <label for="n_fases">N_FASES</label>
        <input type="text" class="form-control" id="n_fases" formControlName="n_fases" placeholder="">
      </div>

      <div class="col-md-6 inputForm">
        <label for="n_hilos">N_HILOS</label>
        <input type="text" class="form-control" id="n_hilos" formControlName="n_hilos" placeholder="">
      </div>

      <div class="col-md-6 inputForm">
        <label for="n_medidor">N_MEDIDOR</label>
        <input type="text" class="form-control" id="n_medidor" formControlName="n_medidor" placeholder="">
      </div>

      <div class="col-md-6 inputForm">
        <label for="tipo_medidor">TIPO_MEDIDOR</label>
        <select name="" id="tipo_medidor" class="form-select" formControlName="tipo_medidor">
          <option value="DIGITAL">DIGITAL</option>
          <option value="ELECTROMECANICO">ELECTROMECANICO</option>
        </select>
      </div>

      <div class="col-md-6 inputForm">
        <label for="carga">DEMANDA</label>
        <input type="text" class="form-control" id="carga" formControlName="carga" placeholder="">
      </div>

      <div class="col-md-6 inputForm">
        <label for="potencia">POTENCIA</label>
        <input type="text" class="form-control" id="potencia" formControlName="potencia" placeholder="" required>
        <small class="text-danger"
         *ngIf="contratoForm.get('potencia')?.invalid &&
                contratoForm.get('potencia')?.touched">
    La potencia es obligatoria.
  </small>
      </div>

      <div class="col-md-6 inputForm">
        <label for="central_electrica">CENTRAL_ELECTRICA</label>
        <input type="text" class="form-control" id="central_electrica" formControlName="central_electrica" placeholder="">
      </div>

      <div class="col-md-6 inputForm">
        <label for="carga">N_UNIDADES</label>
        <input type="text" class="form-control" id="n_unidades" formControlName="n_unidades" placeholder="">
      </div>

      <div class="col-md-6 inputForm">
        <label for="fecha_operacion">FECHA_OPERACION</label>
        <input type="date" class="form-control" id="fecha_operacion" formControlName="fecha_operacion" placeholder="" required>
          <small class="text-danger"
         *ngIf="contratoForm.get('fecha_operacion')?.invalid &&
                contratoForm.get('fecha_operacion')?.touched">
    La fecha es obligatoria.
  </small>
      </div>

      <div class="col-md-6 inputForm">
        <label for="carga_total">CARGA TOTAL</label>
        <input type="text" class="form-control" id="carga_total" formControlName="carga_total" placeholder="" readonly>
      </div>
    </div>

    <div class="row" style="border: 1px solid #eee; border-radius: 10px; padding: 10px; margin-top: 20px;" *ngIf="data != null && !data.tiene_oc">
    •  DATOS DE SOLICITUD
 <div class="d-flex align-items-center flex-wrap gap-3  mt-1">
      <div class="form-check form-check-inline form-switch">
        <input class="form-check-input" type="checkbox" formControlName="baja_tencion">
        <label class="form-check-label">BAJA TENSION</label>
      </div>

      <div class="form-check form-check-inline form-switch">
        <input class="form-check-input" type="checkbox" formControlName="media_tension">
        <label class="form-check-label">MEDIA TENSION</label>
      </div>
 </div>

  <br>
     • UTILIZACION DE ENERGIA <br>
      <div class="d-flex align-items-center flex-wrap gap-3 mt-1">
  <div class="form-check form-check-inline form-switch">
        <input class="form-check-input" type="checkbox" formControlName="consumo_centros">
        <label class="form-check-label">CONSUMO DE CENTROS DE CARGA</label>
      </div>

      <div class="form-check form-check-inline form-switch">
        <input class="form-check-input" type="checkbox" formControlName="consumo_centros_ventas">
        <label class="form-check-label">CONSUMO DE CENTROS DE CARGA Y VENTAS</label>
      </div>

      <div class="form-check form-check-inline form-switch">
        <input class="form-check-input" type="checkbox" formControlName="venta_total">
        <label class="form-check-label">VENTA TOTAL</label>
      </div>
      </div>

      <br>

     • MANIFESTACION DE CUMPLIMIENTO DE LAS ESPECIFICACIONES TECNICAS <br>

      <!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
    Seleccionar opciones
  </button>

  <ul class="dropdown-menu p-3" style="width: 250px;">

    <li>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="solar">
        <label class="form-check-label">Solar</label>
      </div>
    </li>

    <li>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="biomasa">
        <label class="form-check-label">Biomasa</label>
      </div>
    </li>

    <li>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="eolico">
        <label class="form-check-label">Eólico</label>
      </div>
    </li>

    <li>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="cogeneracion">
        <label class="form-check-label">Cogeneración</label>
      </div>
    </li>

    <li>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="otro">
        <label class="form-check-label">Otro</label>
      </div>
    </li>

  </ul>
</div> -->

    <div class="d-flex align-items-center flex-wrap gap-3  mt-1">
 <div class="form-check form-check-inline form-switch">
        <input class="form-check-input" type="checkbox" formControlName="solar">
        <label class="form-check-label">SOLAR</label>
      </div>

      <div class="form-check form-check-inline form-switch">
        <input class="form-check-input" type="checkbox" formControlName="biomasa">
        <label class="form-check-label">BIOMASA</label>
      </div>

      <div class="form-check form-check-inline form-switch">
        <input class="form-check-input" type="checkbox" formControlName="eolico">
        <label class="form-check-label">EOLICO</label>
      </div>

      <div class="form-check form-check-inline form-switch">
        <input class="form-check-input" type="checkbox" formControlName="cogeneracion">
        <label class="form-check-label">COGENERACION</label>
      </div>

      <div class="form-check form-check-inline form-switch">
        <input class="form-check-input" type="checkbox" formControlName="otro">
        <label class="form-check-label">OTRO</label>
      </div>

      <div class="col-md-4 inputForm">
        <label for="especificar">ESPECIFICAR</label>
        <input type="text" class="form-control" id="especificar" formControlName="especificar" placeholder="">
      </div>
    </div>

     


    </div> 

  </form>
</div>

<div mat-dialog-actions align="end" style="margin-top: 10px;">
  <button class="btn btnPrimary ml-5" type="button" *ngIf="data.accion=='nuevo'" (click)="onSubmit()">GENERAR CONTRATOS</button>
  <button class="btn btnPrimary ml-5" type="button" *ngIf="data.accion=='editar'" (click)="actualizarContrato()">ACTUALIZAR CONTRATO</button>
</div>
