<h1 mat-dialog-title style="border-bottom: 2px solid #eee;"  class="dialog-title">Imprimir Contrato <span class="close-btn " mat-dialog-close><img width="30px" src="../../../assets/x.png" alt=""></span> </h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col md-4  btn btn-outline-primary m-2" (click)="contratoInterconexion()"><i class="bi-file-pdf-fill"></i>Contrato Interconexion</div>
        <div class="col md-4  btn btn-outline-primary m-2" (click)="contratoContraprestacion()"><i class="bi-file-pdf-fill"></i>Contrato Contraprestacion</div>
        <div class="col md-4 btn btn-outline-primary m-2" (click)="anexo()"><i class="bi-file-pdf-fill"></i>Anexo</div>
    </div>
</div>
<div mat-dialog-actions align="end" style="margin-top: 10px;">
  <!-- <button mat-button mat-dialog-close class="btn btnCancel ">Close</button> -->
  <!-- <button class="btn btnPrimary ml-5" type="button"   >Generar contratos</button>
  <button class="btn btnPrimary ml-5" type="button"   >Actulizar Orden</button> -->
</div>
