<div class="row rowtitle" style="margin-bottom: 10px;">
    <div class="col-md-8">
        <h2>Ventas</h2>
    </div>

    <div class="col-md-12" align="end">
        <button class="btn btn-sm btn-outline-secondary m-2" (click)="filtro(0)">Todas</button>
        <button class="btn btn-sm btn-outline-secondary m-2" (click)="filtro(3)">Pagadas</button>
        <button class="btn btn-sm btn-outline-secondary m-2" (click)="filtro(2)">Pendientes</button>
    </div>

</div>
<app-tabla [columns]="tableColumns" [data]="tableData" [actions]="tableActions" [scroll]="true" (actionClick)="onTableAction($event)">
</app-tabla>

 