/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btnPrimary{
    background-color: #ff4c4c ;
    color: white;
}

.dialog-title {
  display: flex !important;
  justify-content: space-between !important; /* texto a la izquierda, X a la derecha */
  align-items: center;
  border-bottom: 2px solid #eee;
}


.btn-success{
  background-color: #6d9381 !important;
}

.btn-default{
  border: 1px solid #cd636d !important;
}

.btn-primary{
  background-color: #72779b !important;
}
.btn-danger{
  background-color: #cd636d !important;
}

.active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #5e6163 !important;
    border-color: #5e6163;
}


@media (max-width: 768px) {
  .table-scroll {
    max-height: none !important;  /* permite usar toda la altura */
    overflow-y: auto !important;
    overflow-x: scroll !important; /* 👈 activa scroll horizontal en móviles */
    display: block !important;
  }

  .table-scroll table {
    width: 800px !important; /* 👈 ancho mínimo para permitir el scroll horizontal */
  }

  .pagination {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }

  .rowtitle h2 {
    font-size: 1.4rem !important;
  }

  .input-group {
    width: 100% !important;
    float: none !important;
  }
}

  .row-verde {
  background-color: #c8f7c5 !important; /* verde claro */
}

.no-select {
  user-select: none;        /* Evita seleccionar texto */
  -webkit-user-select: none;
  -moz-user-select: none;
  pointer-events: none;     /* Evita foco y clic */
}